body {
  /* bakgrunnsbilde tatt fra: https://c4.wallpaperflare.com/wallpaper/790/791/601/northern-lights-aurora-borealis-uk-2015-wallpaper-preview.jpg */
  background-image: url("../bilder/bakgrunnsbilde.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns:0.75fr 5fr 1.6fr 0.75fr;
  grid-template-rows: 1.75fr 1fr auto 1fr 1fr;
  grid-template-areas: ". header header ."
                       ".     nav     nav     ."
                       ".  main     main     ."
                       ".      .       .     ."
                       ".    footer  footer  .";
  font-family: arial;
  }

#nav {
  grid-area: nav;
  display: flex;
  background-color: rgb(46, 48, 48);
  border-radius: 0 0 16px 16px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1px;
  border: 4px solid;
  border-color: rgb(0, 0, 0);
  border-top: none;
}

nav li {
  padding-top: 35px;
  list-style: none;
  display: inline-flex;
  margin: 15px;
  line-height: 50px;
}

nav li a {
  color: aliceblue;
  padding: 5px;
  font-size:xx-large;
  text-shadow: 5px 6px 7px black;
}

nav li:hover {
  opacity: 0.7;
}

.logo{
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 16px;
}

.text {
  font-size: 2.25em;
  color: aliceblue;
  text-shadow: 5px 6px 7px black;
}

#bildeheader{
  /* blide tatt fra: https://images.unsplash.com/photo-1633356122102-3fe601e05bd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80 */
  background-image: url("../bilder/bildeheader.webp");
  margin-top: 20px;
  justify-content: center;
  background-size: cover;
  border-radius: 16px 16px 0 0;
  background-position: center;
  display: flex;
  background-repeat: no-repeat;
  align-items: center;
  border: 4px solid;
  border-color: rgb(0, 0, 0);
  border-bottom: none;
 }

header {
  grid-area: header;
}

.headertittel {
  font-size: 2.25em;
  color: aliceblue;
  text-shadow: 5px 6px 7px black;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.artikkelbilde {
  max-width: 700px;
  max-height: 700px;
  margin: 5px
  
}

.links {
  color: rgb(128, 126, 243);
}

#conteiner{
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  justify-content: space-around;
}

.boks1 {
  background-position: center;
  margin: 10px;
  padding: 10px;
  border: 4px solid;
  border-color: rgb(0, 0, 0);
  background-color: rgb(46, 48, 48);
  border-radius: 16px 16px 16px 16px;
  max-width: 750px;
}


.artikkeltittel{
  color: aliceblue;
  text-align: center;
  font-size:xx-large;
  font-family: Arial;
  padding: 2px;
  text-shadow: 5px 6px 7px black;
}

.undertext{
  color: aliceblue;
  text-align: left;
  font-size:medium;
  font-family: Arial;
  text-shadow: 5px 6px 7px black;
}


footer{
  max-height: 200px;
  grid-area: footer;
  background-color: rgb(46, 48, 48);
  text-align: center;
  color: aliceblue;
  text-shadow: 5px 6px 7px black;
  border: 4px solid;
  border-color: rgb(0, 0, 0);
  
}

footer li{
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  display: inline-flex;
  margin-right: 35px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-pinterest {
  background: #8a2222;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}


main aside, footer {
  margin: 1px;
  border-radius: 16px 16px 16px 16px;
}

.tabell {
  display: flex;
  margin-top: 10px;
}

.kolonne {
  width: 100%;
}
.rad {
  border: 3px black solid;
  height: 50px;
  width: 100%;
  background-color: rgb(46, 48, 48);
  color: aliceblue;
  text-shadow: 5px 6px 7px black;
  padding-top: 10px ;
  text-align: center;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}

label {
  display: none;
  font-size: 26px;
  line-height: 70px;
  margin: 0 auto;
  }

#toggle {
  display: none;
}
@media only screen and (max-width: 600px) {
body {
  grid-template-columns:0.1fr 5fr 1.6fr 0.75fr;
  grid-template-rows: .25fr auto auto 1fr auto;
  grid-template-areas: ". header header ."
                       ".     nav     nav     ."
                       ".  main     main     ."
                       ".    footer  footer  ."
}

label {
  display: block;
  cursor: pointer;
  color: white;
}
.knapp:hover {
  opacity: 0.7;
}

.headertittel {
  font-size: medium;
  color: aliceblue;
  text-shadow: 5px 6px 7px black;
}



.boks1{
  width: 230px;
  height: auto;
  background-position: center;
  margin: 10px;
  padding: 10px;
  border: 4px solid;
  border-color: rgb(0, 0, 0);
  background-color: rgb(46, 48, 48);
  border-radius: 16px 16px 16px 16px;
}

.artikkelbilde{
  width: 220px;
}

.logo {
  width: 70px;
}

.meny {
  text-align: center;
  width: 100%;
  display: none;
}
.meny li a {
  clear: right;
  display: block;
  border: 1px solid white;
}
#toggle:checked +.meny {
  display: flex;
  flex-direction: column;
  background-color: rgb(46, 48, 48);
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(1, 1fr);
}

main li {
  list-style: none;
  float: center;
}

.tabell {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
}

.kolonne {
  text-align: center;
  width: 100%;
  font-size: small;
}
.rad {
  border: 3px black solid;
  width: 100%;
  background-color: rgb(46, 48, 48);
  color: aliceblue;
  text-shadow: 5px 6px 7px black;
  padding-top: 10px ;
  text-align: center;
}

footer li{
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  display: inline-flex;
  margin-right: 10px;
}


}
